{% extends "templates/base.twig" %}
{% block contenu %}
	<div class="row">
		<div class="col-md-2">
			<img src="/assets/images/403.png" alt="403" class="img-responsive">
		</div>
		<div class="col-md-10">
			<div class="alert alert-danger" role="alert">
				<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<b>Désolé</b>, vous n'avez pas le droit de voir cette page.
			</div>
		</div>
	</div>
{% endblock %}