{% extends "templates/base.twig" %}
{% block contenu %}
	<section class="row">
		<div class="container-fluid">
			<div class="panel panel-default">
				<div class="panel-body">
					...
				</div>
			</div>
		</div>
	</section>
{% endblock %}