{% extends "templates/base.twig" %}
{% block contenu %}
	<div class="panel panel-default">
		<div class="panel-body">
			<h4 class="text-center">Éditeur</h4>
			<ul>
				<li>Technote (<a href="mailto:admin@technote.dev">admin@technote.dev</a>)</li>
			</ul>
			<hr>
			<h4 class="text-center">Responsable légal</h4>
			<ul>
				<li>Directeur de la publication : Technote (<a href="mailto:admin@technote.dev">admin@technote.dev</a>)</li>
				<li>Responsable technite : Technote (<a href="mailto:admin@technote.dev">admin@technote.dev</a>)</li>
			</ul>
			<hr>
			<h4 class="text-center">Hébergeur</h4>
			<ul>
				<li>Technote (<a href="mailto:admin@technote.dev">admin@technote.dev</a>)</li>
			</ul>
			<hr>
			<h4 class="text-center">Informations</h4>
			<p>
				Conformément à la loi "Informatique et libertés" du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à l'administration de Technote (<a href="mailto:admin@technote.dev">admin@technote.dev</a>). Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
			</p>
			<hr>
			<h4 class="text-center">Cookies</h4>
			<p>
				Un cookie est une suite d'informations envoyée par un site Internet à un ordinateur sous la forme d’un petit fichier de données.<br>
				Les cookies sont utiles pour faciliter la personnalisation de votre accès à nos services en ligne. Ils peuvent être utilisés pour une authentification, une session, stocker une information spécifique comme les préférences sur un site ou le contenu d'un panier d'achat électronique.<br>
				Le stockage des cookies se fait par le biais du navigateur Web utilisé par l’internaute.<br>
				Il existe deux types de cookies :<br>
			<ul>
				<li>les cookies de session sont supprimés de votre ordinateur lorsque vous fermez votre navigateur.</li>
				<li>les cookies permanents restent stockés sur votre ordinateur après la fermeture du navigateur.</li>
			</ul>
			Les cookies sont cependant anonymes et ne sont en aucun cas utilisés pour collecter des informations personnelles.
			</p>
		</div>
	</div>
{% endblock %}