{% extends "templates/base.twig" %}
{% block contenu %}
	<section class="row">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<p class="text-center text-danger text">Vous devez renseigné au moins une ligne</p>
				{% include 'templates/messages.twig' %}
				<form method="POST" class="form-horizontal" name="rechercheTechnote">
					<div class="form-inline">
						<div class="form-group">
							<label for="dateDebut" class="control-label">Date de création</label>
							<div class="input-group">
								<div class="input-group-addon">Du</div>
								<input type="date" name="date_debut" class="form-control" id="dateDebut" value="{{ post.date_debut }}">
							</div>
							<div class="input-group">
								<div class="input-group-addon">Au</div>
								<input type="date" name="date_fin" class="form-control" id="dateFin" value="{{ post.date_fin }}">
							</div>
						</div>
					</div>
					<br>
					<div class="form-inline">
						<div class="form-group">
							<label for="auteur" class="control-label">Auteur</label>
							<input type="text" name="auteur" class="form-control" id="auteur" placeholder="Auteur" value="{{ post.auteur }}">
						</div>
					</div>
					<br>
					<div class="form-inline">
						<div class="form-group">
							<label for="search-motsCles" class="control-label">Mots clés</label>
							<input type="text" size="50" name="mots_cles" class="form-control" id="search-motsCles" placeholder="Mots clés" value="{{ post.mots_cles }}">
						</div>
						<p class="help-block">Séparez les mots clés par des ',' !<br>Précédé d'un '+', le mot clé devient obligatoire</p>
					</div>
					<br>
					<button type="submit" class="btn btn-default">Chercher</button>
				</form>
			</div>
		</div>
		<div id="technotes"></div>
	</section>
{% endblock %}