{% extends "templates/base.twig" %}
{% block contenu %}
	<section class="row">
		<div class="panel panel-default">
			<div class="panel-body text-center">
				<p class="text-center text-danger text">Vous devez renseigné au moins une ligne</p>
				<form method="POST" class="form-horizontal" name="rechercheTechnote">
					<div class="form-inline">
						<div class="form-group">
							<label for="dateDebut" class="control-label">Date de création</label>
							<div class="input-group">
								<div class="input-group-addon">Du</div>
								<input type="date" name="date_debut" class="form-control" id="dateDebut" value="{{ post.date_debut }}">
							</div>
							<div class="input-group">
								<div class="input-group-addon">Au</div>
								<input type="date" name="date_fin" class="form-control" id="dateFin" value="{{ post.date_fin }}">
							</div>
						</div>
					</div>
					<br>
					<div class="form-inline">
						<div class="form-group">
							<label for="resolu" class="col-md-2 control-label">Résolu</label>
							<div class="col-md-10">
								<label class="radio-inline">
									<input type="radio" name="resolu" id="resolu" value="1" {% if post.resolu %}checked{% endif %}> Oui
								</label>
								<label class="radio-inline">
									<input type="radio" name="resolu" id="resolu" value="0" {% if post.resolu %}checked{% endif %}> Non
								</label>
							</div>
						</div>
					</div>
					<br>
					<div class="form-inline">
						<div class="form-group">
							<label for="motsCles" class="control-label">Mots clés</label>
							<input type="text" size="50" name="mots_cles" class="form-control" id="motsCles" placeholder="Mots clés" value="{{ post.mots_cles }}">
						</div>
						<p class="help-block">Séparez les mots clés par des ',' !<br>Précédé d'un '+', le mot clé devient obligatoire</p>
					</div>
					<br>
					<button type="submit" class="btn btn-default">Chercher</button>
				</form>
			</div>
		</div>
		<div id="questions"></div>
	</section>
{% endblock %}