/*
    #####################################################################
    ############################# GENERIQUE #############################
    #####################################################################
*/

*::selection{
    background: #2aabd2;
    color: #FFF;
}
html{
    position: relative;
    min-height: 100%;
}
body{
    margin-bottom: 120px;
    background: url('/assets/images/bg.png');
}
input[type="checkbox"]{
    height: 17px;
    width: 17px;
    vertical-align: bottom;
}
section{
    margin: 0 15px;
}
h1{
    display: block;
    font-size: 48px;
    font-family: "Lobster", "cursive";
    color: #2aabd2;
    text-shadow: 2px 2px 1px #EEE, 3px 3px 5px #000;
    text-align: center;
    margin-bottom: 15px;
}
h1:first-letter{
    color: #333;
}
article{
    margin: 25px 0;
}
a{
    color: #337ab7;
}

/*
    #####################################################################
    ############################### HEADER ##############################
    #####################################################################
*/

header{
    background: #2aabd2;
    padding: 5px 0;
    margin-bottom: 5px;
    box-shadow: 0 1px 5px #777;
}
header a{
    color: white;
    font-weight: bold;
}
header a:hover{
    text-decoration: none;
    color: #23527c ;
    border-bottom: 1px dashed #23527c;
}
div#logo{
    background: url('/assets/images/bgh.png');
    text-align: center;
}
header .conteneurLiensCo{
    display: table;
}
header .liensCo{
    display: table-cell;
    float: none;
    vertical-align: bottom;
}
header .liensCo label{
    color: #FFF;
}
header #badLogin{
    color: #a94442;
    font-weight: bold;
    background: rgba(255,255,255,0.7);
    padding: 5px 10px;
    border-radius: 5px;
}

/*
    #####################################################################
    ################################ MENU ###############################
    #####################################################################
*/

nav.main{
    background: #2aabd2;
    box-shadow: 0 0 5px #777;
}
nav .nav-pills>li>a{
    border-radius: inherit;
    color: #FFF;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
nav .nav-pills>li>a:hover{
    background: rgba(66,195,234,0.6);
}
nav .nav-pills>li.active>a, .nav-pills>li.active>a:hover{
    background: #1495BC;
}
nav .nav .open>a{
    background: #22A3CA;
}
nav .nav .open>a:hover{
    background: rgba(66,195,234,0.6);
}
nav .nav .open li.active>a{
    background: #1495BC;
}
nav .nav-tabs{
    margin-bottom: 15px;
}
nav button.navbar-toggle{
    background: rgba(66,195,234,0.6);
    border: 1px solid #1495BC;
}
nav button.navbar-toggle span{
    background: white;
}
nav .dropdown-menu{
    border-radius: inherit;
    margin: 0;
    padding: 0;
}
nav .nav-pills li.open ul{
    background: #2aabd2;
    color: white !important;
    width: 100%;
}
nav .dropdown-menu>li>a{
    color: white;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    padding: 8px 20px;
}
nav .dropdown-menu>li>a:hover{
    background: rgba(66,195,234,0.6);
    color: inherit;
}

/*
    #####################################################################
    ############################### CORPS ###############################
    #####################################################################
*/

img.img-technote{
    margin-bottom: 5px;
    min-width: 75%;
    max-height: 250px;
}
.panel{
    margin-top: 20px;
}
a.extraitTechnote{
    color: inherit;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex ul{
    margin: 5px 0;
}

/*
    #####################################################################
    ############################### FOOTER ##############################
    #####################################################################
*/

footer{
    position: absolute;
    bottom: 0;
    background: #2aabd2;
    padding: 15px 0;
    margin-top: 5px;
    height: 120px;
    box-shadow: 0 -1px 5px #777;
    width: 100%;
}
footer a{
    color: white;
}
footer #copyright{
    text-align: center;
    font-weight: bold;
    display: block;
    padding-top: 2px;
}
footer #copyright>a:hover{
    text-decoration: none;
}

/*
    #####################################################################
    ############################### DIVERS ##############################
    #####################################################################
*/