<div id="divResultatAJAX" class="alert" role="alert" hidden>
	<button type="button" class="close" data-hide="alert" aria-label="Hide"><span aria-hidden="true">&times;</span></button>
	<div class="flex">
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<ul id="messagesResultatAJAX">
		</ul>
	</div>
</div>